html {
	background-color: #F0F0F0;
}

nav {
	background-color: #444!important;
}

li#account div.profile-image {
	padding:0!important;
}

li#account div.profile-image img{
	width:50px; height:50px;
}

li#account div.profile-menu {
	line-height:50px; 
	height:50px; 
	padding:0!important; 
	padding-left:15px!important
}

li#account div.profile-menu {
	line-height:51.55px!important; 
	height:51.55px!important;
}

li#account div.profile-menu a.dropdown-button {
	text-shadow: 1px 1px 1px #444; 
	color:white; 
	font-weight:300!important; 
	line-height:51.55px!important; 
	height:51.55px!important; 
	margin:0!important; 
	padding:0!important;
}

.dropdown-content a{
	line-height: 50px!important;
	height: 50px!important;
	color:#444!important;
	padding: 0 15px!important;
	font-size: 13px!important;
	font-weight: 500!important;
}


nav ul li:hover {
	background-color: transparent!important;
}

nav ul#slide-out li {
	line-height: 50px!important;
	padding:0;
}

li#account {
	padding:25px 15px!important; 
}

nav ul#slide-out li a {
	line-height: 50px!important;
	height:50px!important;
	font-size: 13px!important;
	font-weight: 500!important;
}

nav ul li a:hover {
	background-color: transparent!important;
}

nav ul li a i {
	width: 2rem!important;
	line-height: inherit!important;
	height: inherit!important;
	font-size: 1.6rem!important;
	margin-right: 1rem;
	text-align: center!important;
	display: block!important;
	float:left!important;
}

@media only screen and (max-width : 992px) {

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #9e9e9e;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #9e9e9e;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #9e9e9e;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #9e9e9e;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #9e9e9e;
}

::selection{ background-color: #ffcc80;}
::moz-selection{ background-color: #ffcc80;}
::webkit-selection{ background-color: #ffcc80;}
::khtml-selection{ background-color: #ffcc80;}
::ms-selection{ background-color: #ffcc80;}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.background1 {
	border-top:3px solid rgba(255,109,64,1);
    	border-bottom:3px solid rgba(255,109,64,1);
       background: rgba(33,33,33,1);
background: -moz-linear-gradient(45deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 90%, rgba(255,109,64,1) 90%, rgba(255,109,64,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(33,33,33,1)), color-stop(90%, rgba(33,33,33,1)), color-stop(90%, rgba(255,109,64,1)), color-stop(100%, rgba(255,109,64,1)));
background: -webkit-linear-gradient(45deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 90%, rgba(255,109,64,1) 90%, rgba(255,109,64,1) 100%);
background: -o-linear-gradient(45deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 90%, rgba(255,109,64,1) 90%, rgba(255,109,64,1) 100%);
background: -ms-linear-gradient(45deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 90%, rgba(255,109,64,1) 90%, rgba(255,109,64,1) 100%);
background: linear-gradient(45deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 90%, rgba(255,109,64,1) 90%, rgba(255,109,64,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#ff6d40', GradientType=1 );
    }

    .background2 {
    	border-top:3px solid #212121;
    	border-left:3px solid #212121;
      background: rgba(255,109,64,1);
background: -moz-linear-gradient(-45deg, rgba(255,109,64,1) 0%, rgba(255,109,64,1) 10%, rgba(33,33,33,1) 10%, rgba(33,33,33,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,109,64,1)), color-stop(10%, rgba(255,109,64,1)), color-stop(10%, rgba(33,33,33,1)), color-stop(100%, rgba(33,33,33,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,109,64,1) 0%, rgba(255,109,64,1) 10%, rgba(33,33,33,1) 10%, rgba(33,33,33,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,109,64,1) 0%, rgba(255,109,64,1) 10%, rgba(33,33,33,1) 10%, rgba(33,33,33,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,109,64,1) 0%, rgba(255,109,64,1) 10%, rgba(33,33,33,1) 10%, rgba(33,33,33,1) 100%);
background: linear-gradient(135deg, rgba(255,109,64,1) 0%, rgba(255,109,64,1) 10%, rgba(33,33,33,1) 10%, rgba(33,33,33,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6d40', endColorstr='#212121', GradientType=1 );
    }

    .background {
    	border-top:3px solid #212121;
border-bottom:3px solid #212121;
border-right:3px solid #212121;
background: rgba(33,33,33,1);
background: -moz-linear-gradient(45deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 55%, rgba(255,109,64,1) 55%, rgba(255,109,64,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(33,33,33,1)), color-stop(55%, rgba(33,33,33,1)), color-stop(55%, rgba(255,109,64,1)), color-stop(100%, rgba(255,109,64,1)));
background: -webkit-linear-gradient(45deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 55%, rgba(255,109,64,1) 55%, rgba(255,109,64,1) 100%);
background: -o-linear-gradient(45deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 55%, rgba(255,109,64,1) 55%, rgba(255,109,64,1) 100%);
background: -ms-linear-gradient(45deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 55%, rgba(255,109,64,1) 55%, rgba(255,109,64,1) 100%);
background: linear-gradient(45deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 55%, rgba(255,109,64,1) 55%, rgba(255,109,64,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#ff6d40', GradientType=1 );
    }

    [type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid rgba(255,109,64,1);
  border-bottom: 2px solid rgba(255,109,64,1);
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid rgba(255,109,64,1);
	    box-shadow: 0 1px 0 0 rgba(255,109,64,1);
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: rgba(255,109,64,1);
}

[type="checkbox"].filled-in:checked + label:after {
  top: 0px;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255,109,64,1);
  background-color: rgba(255,109,64,1);
  z-index: 0;
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: rgba(255,109,64,1);
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}