html {
	background-color: #F0F0F0;
}

nav {
	background-color: #444!important;
}

li#account div.profile-image {
	padding:0!important;
}

li#account div.profile-image img{
	width:50px; height:50px;
}

li#account div.profile-menu {
	line-height:50px; 
	height:50px; 
	padding:0!important; 
	padding-left:15px!important
}

li#account div.profile-menu {
	line-height:51.55px!important; 
	height:51.55px!important;
}

li#account div.profile-menu a.dropdown-button {
	text-shadow: 1px 1px 1px #444; 
	color:white; 
	font-weight:300!important; 
	line-height:51.55px!important; 
	height:51.55px!important; 
	margin:0!important; 
	padding:0!important;
}

.dropdown-content a{
	line-height: 50px!important;
	height: 50px!important;
	color:#444!important;
	padding: 0 15px!important;
	font-size: 13px!important;
	font-weight: 500!important;
}


nav ul li:hover {
	background-color: transparent!important;
}

nav ul#slide-out li {
	line-height: 50px!important;
	padding:0;
}

li#account {
	padding:25px 15px!important; 
	background-image:url('/img/bg2.jpg'); 
	background-size:cover;
}

nav ul#slide-out li a {
	line-height: 50px!important;
	height:50px!important;
	font-size: 13px!important;
	font-weight: 500!important;
}

nav ul li a:hover {
	background-color: transparent!important;
}

nav ul li a i {
	width: 2rem!important;
	line-height: inherit!important;
	height: inherit!important;
	font-size: 1.6rem!important;
	margin-right: 1rem;
	text-align: center!important;
	display: block!important;
	float:left!important;
}

@media only screen and (max-width : 992px) {

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #9e9e9e;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #9e9e9e;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #9e9e9e;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #9e9e9e;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #9e9e9e;
}